*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0eadd;
}
h1{
    display: none;
}
main{
    position: relative;
    background-color: #f0eadd;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}
/*Header*/
.nav-link{
    color: #90826f;
    font-size: 1.2em;
}
.cont-btn{
 right: 10px;
 top: 10px;
 position: fixed;
}
.btn-bag{
    padding: .3rem .5rem .3rem .5rem;
    border-style: none;
    background-color: transparent;
    color: #000000;
}
.btn-bag-i{
    font-size: 1.8em;
    font-weight: bolder;
}
.contenedorCarrito{
    height: 10vh;
}
.animacionCarrito{
    padding: 0.5rem;
}
.headItem{
    height: 50%;
    background-color: #f0eadd;
}
.headh3{
    text-align: center;
    padding: 2rem;
    font-family: 'Italiana', serif;
    letter-spacing: 50px;
    font-size: 10em;
    color: #f8f6f1;
}
.contenedorTipos{
    background-image:url(./img/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 25% 25%;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
hr{
    margin-top: 4rem;
    height: 0px;
    border: none;
    border-top: 3px solid  #90826f;
}

/*MENU DESPLEGABLE*/

.menuToggler1{
    position: relative;
    overflow: auto;
    height: 100vh;
    width: 40vh;
    background-color: #90826ea2;
    position: fixed;
    color: #2b1914;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    top: 0;
    right: 0;
    transition: ease 1s all;
    color: #fff;
    padding: 1.4rem;
}
    
.menuActive {
    transform: translatex(400px);
}

.titulo{
    text-align: center;
    padding: 1rem;
    font-size: 2em;
    font-weight: bold;
}
.contenedorSpan{
    display: flex;
    justify-content: end;
    padding: 1rem;
}
.cerrar{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    background:
     linear-gradient(45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 43%,rgb(255, 255, 255) 45%,rgb(255, 255, 255) 55%,rgba(0,0,0,0) 57%,rgba(0,0,0,0) 100%),
     linear-gradient(135deg, #f56a0000 0%,#f56a0000 43%,rgb(255, 255, 255) 45%,rgb(255, 255, 255) 55%,#f56a0000 57%,#f56a0000 100%);
}

.cardMenuDelete {
  display: none;
}
.deleteProduct {
    cursor: pointer;
}
.carritoVacio{
 cursor: pointer;
}
.menu-finalItem{
    cursor: pointer;
}
/*CARD-MENU*/
.cardMenu{
    padding: .8rem;
    border: 2px solid rgba(255, 255, 255, 0.589);
    border-radius: 5px;
    margin: 1rem;
}
.img-carrito{
    padding-bottom: 1rem;
    display: block;
    margin: auto;
}
/*CARTEL COMPRA OK*/
.contenedor-compra{
    z-index: 1;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.521);
}
.contenedor-compraItems{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #aa9d8a;
    text-align: center;
    color: #fff;
    padding: 6rem 4rem 6rem 4rem;
    letter-spacing: 10px;

}
.fondo-compraOK{
    display: flex;
    justify-content: center;
    height: 100%;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 2em;
    font-weight: bolder;
    cursor: pointer;
}
.contenedor-none{
    display: none;
} 
.bajar-Cartel{
    transform: translateY(300px);
}
/*BANNER*/
.contenedor-banner{
    height: 70%;
    background-color: #f0eadd;
}
.banner{
    position: relative;
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-img{
    margin-left: 0;
    height: 100%;
    width: 40%;
    object-fit: cover;
    object-position: 25% 25%;
}
.banner-items{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}
.banner-imgH3{
    position: absolute;
    top:15%;
    left: 25%;
    font-family: 'Italiana', serif;
    font-size: 9em;
    letter-spacing: 10px;
    color: #2b1914;
}
.banner-imgH2{
    position: absolute;
    top:40%;
    left: 50%;
    font-family: 'Italiana', serif;
    font-size: 8em;
    letter-spacing: 10px;
    color: #2b1914;
}
.banner-p{
    width: 30%;
    align-self: flex-end;
    margin: 4rem 5rem 2rem 2rem;
}


/*CARDS*/
.contenedor-cards{
    margin-top: 5rem;
    padding: 3rem;
    height: auto;
    
}
.contTarjetas{
    padding: 1rem;
    margin: .5rem;
    background-color: #f0eadd;
    border: 3px solid #90826f49;
    color: #2b1914;
    font-weight: bold;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contTarjetas-items{
    padding: 1rem;
    margin-top: 1rem;
}
.btnn{
    margin-bottom: 1rem;
}

/*BODY CARDS*/
.body-cards{
    background-color: #f0eadd;
    position: relative;
}
.text-h2{
    position: absolute;
    transform: rotate(270deg);
    top: 10%;
    left: -10%;
}
.btnn{
    width: 15vh;
    padding: .5rem;
    border-style: none;
    border-radius: 5px;
    background-color: #90826ea2;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    display: block;
    margin: auto;
}
.img-card {
    height: 35vh;
    object-fit: scale-down;
    object-position: center;
}
/*RESPONSIVO RANDOM*/
@media screen and (max-width: 1566px){
    .text-h2{
        display: none;
    }
}
@media screen and (max-width: 1300px){
    .headh3 {
        font-size: 6em;
        letter-spacing: 30px;
    }
    .banner-imgH3{
        left: 10%;
        font-size: 8em;
        letter-spacing: 10px;
    }
    .banner-imgH2{
        left: 30%;
        font-size: 7em;
        letter-spacing: 10px;
    }
    .banner-p{
        width: 50%;
        margin: 4rem 5rem 2rem 2rem;
    }
    
}

/*RESPONSIVO TABLET*/
@media screen and (max-width: 900px){
    .headItem{
        height: 40%;
    }
    
    .headh3 {
        font-size: 5em;
        letter-spacing: 10px;
    }
    .banner-imgH3{
        font-size: 7em;
        letter-spacing: 10px;
        color: #fff;
    }
    .banner-imgH2{
        top: 50%;
        left: 20%;
        font-size: 6em;
        letter-spacing: 10px;
        color: #fff;
    }
    .banner-p{
        width: 60%;
        margin: 4rem 5rem 2rem 2rem;
    }
    .banner-items{
        display: none;
    }
    .banner-img{
        width: 100%;
        filter: grayscale(70%);
    }
    .contenedor-banner{
        height: 50%;
    }
}

/*RESPONSIVO CELU*/
@media screen and (max-width: 700px){
    .banner-imgH3{
        left: 10%;
        font-size: 6em;
    }
    .banner-imgH2{
        left: 15%;
        font-size: 5em;
        
    }
}
@media screen and (max-width: 577px){
    .headh3 {
        font-size: 4em;
        letter-spacing: 5px;
    }
    .banner-imgH3{
        top: 30%;
        left: 5%;
        font-size: 4em;
    }
    .banner-imgH2{
        left: 5%;
        font-size: 4em;
        
    }
    .contenedor-banner{
        height: 40%;
    }
}
@media screen and (max-width: 450px){
    .headh3 {
        font-size: 3em;
        letter-spacing: 5px;
    }
    .banner-imgH3{
        font-size: 3em;
    }
    .banner-imgH2{
        font-size: 3em;
        
    }
    .contenedor-banner{
        height: 30%;
    }
}